html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png');
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the Score Panel
 */
.score-panel {
  display: flex;
  justify-content: space-evenly;
  width: 345px;
  margin-bottom: 10px;
  
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  display: inline-block;
}

.score-panel .restart {
  cursor: pointer;
}

/*
 * Styles for the deck of cards
 */

@keyframes card-flip {
  from {transform: rotateY(180deg);}
  to {transform: rotateY(0deg);}
}

@keyframes card-match {
  0%   {transform: scale(1, 1);}
  16%  {transform: scale(1.3, 0.8);}
  32%  {transform: scale(0.8, 1.3);}
  48%  {transform: scale(1.15, 0.9);}
  64%  {transform: scale(0.9, 1.15);}
  85%  {transform: scale(1.075, 0.95);}
  100% {transform: scale(1, 1);}
}

@keyframes card-mismatch {
  0%     {transform: translateX(0px) rotateZ(0);}
  12.5%  {transform: translateX(20px) rotateZ(8deg);}
  25%    {transform: translateX(-10px) rotateZ(-4deg);}
  37.5%  {transform: translateX(5px) rotateZ(2deg);}
  50%    {transform: translateX(0px) rotateZ(0);}
  75%    {transform: rotateY(0deg);}
  100%   {transform: rotateY(180deg);}
}

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open { 
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
  animation-name: card-flip;
  animation-duration: 0.5s;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
  animation-name: card-match;
  animation-duration: 1s;
}

.deck .card.mismatch {
  background: #f75220;
  color: #ffffff;
  animation-name: card-mismatch;
  animation-duration: 2s;
}

.deck .card.reject {
  background: #02b3e4;
  cursor: default;
}

.deck .no-click {
  pointer-events: none;
}

/*
 * Styles for the win screen
 */
.win-screen {
  display: none;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.win-screen .checkmark {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #33af90;
  stroke-miterlimit: 10;
  stroke-dashoffset: 0;
  margin: 10% auto;
}

.win-screen button {
  border-radius: 8px;
  background-color: #33af90;
  font-size: 18px;
  color: #ffffff;
  width: 150px;
  height: 40px;
}